#about{
    background-color: whitesmoke;
    min-height: 100vh;
    padding: 40px;
    padding-top: 70px;
    position: relative;
}

.arrowAbout{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.lastCol{
    text-align: center;
}

.portrait{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.resume{
    text-align: center;
    justify-self: center;
}

#about a{
    color: black;
}