.jumbotron {
    background: url("../assets/stayingOutside.jpg") center top;
    background-size: cover;
    filter: grayscale(100%);
    height: 100vh;
    color: white;
}

h1 {
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

.lead {
    font-size: 30px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}