nav{
    background-color: rgba(0, 0, 0, 0.774);
}

nav a {
    color: white;
}

nav a:hover{
    color: white;
} 

.icon{
    width: 20px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

