#projects{
    padding: 40px;
    padding-top: 70px;

}

h6 {
    color: white;
    margin-left: 30px;
}


.projectLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail{
    margin: 20px;
    height: 250px;
    width: 250px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.thumbnail:hover{
    filter: grayscale(0%);
}

.CSScreature{
    background-image: url("../assets/CSScreature.gif");

}

.staticLayout{
    background-image: url("../assets/staticLayout.png");
}

.APIprojectOne{
    background-image: url("../assets/apichal1.gif");
}

.APIprojectTwo{
    background-image: url("../assets/api_chall_two.gif");
}

.blueBadgeTBA{
    background-image: url("../assets/megamovies.gif");
    background-color: white;
}

.redBadgeTBA{
    background-image: url("../assets/lyespace.png");
    background-color: white;
}

.myEP{
    background-image: url("../assets/epPic.jpg");
}

.tinyDesk{
    background-image: url("../assets/tinyDesk.png");
}

.info{
    text-align: center;
    background-color: rgba(77, 77, 77, 0.767);
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    color: white;
    padding: 10px;
    padding-top: 20px;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.finePrint{
    font-size: x-small;
}

.info a {
    color: rgb(216, 216, 216);
}

.info a:hover{
    color: white;
}

.info:hover{
    opacity: 1;
}

.arrowProjects{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#projectArrow {
    color: white;
}
